.planner {
  background-image: url("./../assets/planner.png");
  width: 100vw;
  height: 100vh;
}

.button {
  width: 121px;
  height: 115px;
  position: fixed;
  z-index: 3;
  left: 156px;
  top: 167px;
  background-image: url("./../assets/110.png");
  transition: 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}

.chat {
  position: fixed;
  background-color: #222;
  right: 40px;
  bottom: 0;
  width: 161px;
  height: 20px;
  padding: 40px;
  font-weight: bold;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  text-align: center;
  font-size: x-large;
  transition: 0.2s ease;
}

.chat:hover {
  height: 40px;
}

.bottom,
.side {
  background-color: white;
  position: fixed;
}

// .bottom {
//   width: 100vw;
//   height: 108px;
//   bottom: 0;
// }

// .side {
//   width: 19vw;
//   height: 100vh;
//   right: 0;
//   top: 0;
// }
